<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.example.reactnativedengage">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>

  <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="false"
      android:theme="@style/AppTheme">
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
        android:launchMode="singleTask"
        android:windowSoftInputMode="adjustResize"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>
      <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />

      <service
        android:exported="false"
        android:name="com.dengage.sdk.push.FcmMessagingService">
        <intent-filter>
          <action  android:name="com.google.firebase.MESSAGING_EVENT"/>
        </intent-filter>
      </service>
      <receiver android:name=".PushNotificationReceiver"
        android:exported="false">
        <intent-filter>
          <action android:name="com.dengage.push.intent.RECEIVE" />
          <action android:name="com.dengage.push.intent.OPEN" />
          <action android:name="com.dengage.push.intent.DELETE" />
          <action android:name="com.dengage.push.intent.ITEM_CLICK" /> <!-- add this line-->
          <action android:name="com.dengage.push.intent.CAROUSEL_ITEM_CLICK" /><!-- add this line-->
          <action android:name="com.dengage.push.intent.ACTION_CLICK" />
        </intent-filter>
      </receiver>

    <meta-data
      android:name="den_event_api_url"
      android:value="https://dev-event.dengage.com" />
<!--      android:value="https://eventdev.dengage.com" />-->

    <meta-data
      android:name="den_push_api_url"
      android:value="https://dev-push.dengage.com" />
<!--    android:value="https://pushdev.dengage.com" />-->

  </application>

</manifest>
