<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CFBundleDevelopmentRegion</key>
        <string>en</string>
        <key>CFBundleDisplayName</key>
        <string>ReactNativeDengageExample</string>
        <key>CFBundleExecutable</key>
        <string>$(EXECUTABLE_NAME)</string>
        <key>CFBundleIdentifier</key>
        <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>
        <key>CFBundleName</key>
        <string>$(PRODUCT_NAME)</string>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>CFBundleShortVersionString</key>
        <string>$(MARKETING_VERSION)</string>
        <key>CFBundleSignature</key>
        <string>????</string>
        <key>CFBundleVersion</key>
        <string>$(CURRENT_PROJECT_VERSION)</string>
        <key>DengageApiUrl</key>
        <string>https://dev-push.dengage.com</string>
        <key>DengageDeviceIdApiUrl</key>
        <string>https://magento.232.dengage.shobii.com/rest/</string>
        <key>DengageEventApiUrl</key>
        <string>https://dev-push.dengage.com</string>
        <key>DengageGeofenceApiUrl</key>
        <string>https://dev-push.dengage.com/geoapi/</string>
        <key>DengageInAppApiUrl</key>
        <string>https://dev-push.dengage.com</string>
        <key>LSRequiresIPhoneOS</key>
        <true/>
        <key>CFBundleIconName</key>
        <string>AppIcon</string>
        <key>NSAppTransportSecurity</key>
        <dict>
            <key>NSAllowsArbitraryLoads</key>
            <false/>
            <key>NSAllowsLocalNetworking</key>
            <true/>
        </dict>
        <key>NSLocationWhenInUseUsageDescription</key>
        <string></string>
        <key>UILaunchStoryboardName</key>
        <string>LaunchScreen</string>
        <key>UIRequiredDeviceCapabilities</key>
        <array>
            <string>arm64</string>
        </array>
        <key>UISupportedInterfaceOrientations</key>
        <array>
            <string>UIInterfaceOrientationPortrait</string>
            <string>UIInterfaceOrientationLandscapeLeft</string>
            <string>UIInterfaceOrientationLandscapeRight</string>
        </array>
        <key>UIViewControllerBasedStatusBarAppearance</key>
        <false/>
        <key>fetchRealTimeINAPPURL</key>
        <string>https://dev-inapp.lib.dengage.com</string>
        <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
        <string>This app uses location services to enhance your app experience</string>
        <key>NSLocationWhenInUseUsageDescription</key>
        <string>This app uses location services to enhance your app experience</string>
        <key>UIBackgroundModes</key>
        <array>
            <string>fetch</string>
            <string>location</string>
            <string>remote-notification</string>
        </array>
    </dict>
</plist>
